PUBLIC_BACKEND_HOST=http://localhost:8000
PUBLIC_WEBSOCKET_HOST=ws://localhost:8000
PUBLIC_INTRA_API_KEY=
PUBLIC_INTRA_API_REDIRECT_URL=http://localhost:5173/login
PUBLIC_GOOGLE_ID=
PUBLIC_GOOGLE_REDIRECT_URL=http://localhost:5173/login