FRONTEND_PORTS="host_port:container_port"
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_PORT="host_port:container_port"
REDIS_PORTS="host_port:container_port"
PGADMIN_EMAIL=mail_admin
PGADMIN_PASSWORD=admin_password
PGADMIN_ENHANCED_COOKIE_PROTECTION=True
PGADMIN_LOGIN_BANNER="Authorized personnel only"
PGADMIN_SERVER_MODE=False
PGADMIN_CONSOLE_LOG_LEVEL=10
PGADMIN_LISTEN_PORT=listen_port
PGADMIN_PORTS="host_port:container_port"
BACKEND_PORTS="host_port:container_port"
REDISGRAPH_PORTS="host_port:container_port"
REDISINSIGHT_PORTS="host_port:container_port"