node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.sample
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vscode

# Deno
deno.lock
package-lock.json

# DB
pgadmin
db
redis_data
redis-insight
pass.pgpass
google.env.json