JWT_SECRET=sdfzgasdhjhQFTKILUIAsdASdfyh
BUCKET_NAME=
FRONTEND_URL=http://localhost:5173
GMAIL_PASS=
GMAIL_EMAIL=test@gmail.com
INTRA_API_KEY=
INTRA_API_SECRET=
INTRA_API_REDIRECT_URL=
GOOGLE_ID=
GOOGLE_SECRET=
GOOGLE_REDIRECT_URI=